kann_test/mnist_test/kann-data/mnist-train-x.knd
kann_test/mnist_test/kann-data/gtsrb-train-x-128-gray-nomess.knd
kann_test/mnist_test/kann-data/gtsrb-train-x-128-gray.knd
*.knd
*.kan
tflite/flower_photos
*.zip
ImageManipulation/yolov5/labels/*
ImageManipulation/yolov5/images/*
*.pb
*.so
tflite/models/saved_models/centernet_512x512/*
tflite/models/saved_models/darknet*
*.jpg
